---
layout: main
---
{% for person in site.data.publications %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{person.name | prepend: site.baseurl}}">{{person.name}}</a></h2>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
