---
layout: main
---
<script type="text/javascript">
 <!--
 // Toggle Display of BibTeX
 function toggleBibtex(articleid) {
     var bib = document.getElementById('bib_'+articleid);
     if (bib) {
         if(bib.className.indexOf('bibtex') != -1) {
             bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
         }
     } else {
         return;
     }
 }
-->
</script>

<h1 class="post-title">About</h1>
<article class="post">
  <div class="post-about">
    <p>{{ site.data.about.text}}</p>
  </div>
</article>

<h1 class="post-title">Latest News</h1>
<article class="post">
	<div class="post-content">
	{% for new in site.data.latest_news %}
    <p class="post-news">
    <a class="post-date">[{{ new.date }}]: </a>
    <a class="post-new">{{ new.text }}</a>
    </p>
	{% endfor %}
</div>
</article>

<div class="pure-g">
<div class="pure-u-1-1" style="text-align:center">
<h1 style="text-align:center">Publications</h1>
</div>
</div>
{% for publication in site.data.publications %}
<article class="post">
  {% if publication.image %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : publication.image}});" href="{{publication.url}}" target="_blank"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <p class="post-title"><a href="{{publication.url}}" target="_blank">{{publication.name}}</a></p>
    {% for author in publication.authors %}
      {% if site.data.authors[author].url %}
      <a class="post-authors" href="{{site.data.authors[author].url}}" target="_blank">{{site.data.authors[author].name}}</a>
      {% else %}
      <a class="post-authors">{{site.data.authors[author].name}}</a>
      {% endif %}
      {% if forloop.last == false %}
      ,
      {% endif %}
    {% endfor %}
    <p class="post-publication">{{publication.publication}}</p>
    <p class="post-words">
      <a href="{{publication.url_paper}}" target="_blank">[PDF]</a>
      <a href="{{publication.url}}" target="_blank">[Website]</a>
      {% if publication.url_code %}
        <a href="{{publication.url_code}}" target="_blank">[Code]</a>
      {% else %}
      {% endif %}
      <a href="javascript:toggleBibtex('{{publication.bibtex_key}}')" class="bibtex_button">[BibTex]</a>
      <div id="bib_{{publication.bibtex_key}}" class="bibtex noshow"><pre>{{publication.bibtex}}</pre></div>
    </p> 

  </div>
</article>
{% endfor %}

<h1 class="post-title" align="center"">Fun projects</h2>
{% for project in site.data.projects %}  
<article class="post">
  <a class="post-thumbnail-project" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : project.img}});" href="{{project.video_url}}" target="_blank"></a>
  <div class="post-content" style="text-align: justify;">
    <p class="post-title"><a href="{{project.video_url}}" target="_blank">{{project.title}}</a></p>
    <p class="post-authors">{{project.description}}</p>
    <p class="post-teammates">{{project.teammates}}</p>
    <p class="post-publication">{{project.location}}</p>
    <p class="post-words">
      <a href="{{project.video_url}}" target="_blank">[Video]</a>
      <a href="{{project.url}}" target="_blank">[More info]</a>
      {% for med in project.media %}  
        <a href="{{med}}" target="_blank">[Media]</a>
      {% endfor %}
    </p> 
  </div>
</article>
{% endfor %}


